@use "@angular/material" as mat;

.mat-card-container {
  // background-color: mat.get-theme-color($custom-theme, primary, 200);
  // color: mat.get-theme-color($custom-theme, primary, 900);
  width: 16rem;
  max-height: 320px;
  padding-bottom: 12px;
}

.mat-image {
  border-radius: 9px; /*12dp */
  width: inherit;
  max-height: 10rem;
}
